[user]
	name = HockWoo Tan
	email = t@hw.sg
[init]
	defaultBranch = main
[pull]
	ff = true
	rebase = interactive
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
